/bak.TeamWork/SI

/bak.TeamWork/app/DT3102-ZC/V2.1/Bin/*.bin

/bak.TeamWork/emos/V1.2/boot/V1.2.0/BootLoader/Project/Out/*.d

/bak.TeamWork/app/DT3102-ZC/V2.1/prj/Out

/bak.TeamWork/app/DT3102-ZC/V2.1/simulation

/bak.TeamWork/app/DT3102-ZC/V2.5/prj/Out

/bak.TeamWork/app/DT3102-ZC/V2.5/prj/lst

/bak.TeamWork/app/DT3102-ZC/V2.1/prj/lst

/bak.TeamWork/app/DT3102-ZC/V2.5/Bin/*.bin

/bak.TeamWork/emos/V1.2/boot/V1.2.0/BootLoader/Bin/*.bin
